@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

.container {
  width: 548px;
  height: 680px;
  display: flex;
  justify-content: center;
  /* border: 1px solid lightgray; */
  /* align-items: center; */
}
.text {
  /* font-family: "Fredoka One", cursive; */
  /* font-weight: bold; */
  font-family: "Jua";
  color: rgb(85, 85, 85);
  line-height: 680px;
  font-size: 1rem;
}

@media screen and (max-width: 500px) {
  .container {
    width: 100%;
  }
}
