.App {
  text-align: center;
}
.Main {
  display: flex;
  width: 500px;
  height: 700px;
  flex-direction: row;
  border: 2px solid;
  padding: 6px;
  margin-left: 50px;
  margin-top: 50px;
}
.Child {
  flex: 1;
}

#nav-body {
  background-color: white;
  width: 100%;
  height: 4rem;
  position: sticky;
  top: 0;
  border-bottom: solid 1px rgb(212, 212, 212);
  display: grid;
  place-items: center;
}

#title {
  font-weight: 700;
  font-size: 1.5rem;
}

#name {
  vertical-align: middle;
}
#name1 {
  text-decoration: none;
  color: black;
}

.menu {
  margin: 1.5rem;
  right: 0;
  font-weight: 300;
  position: absolute;
}

#menu1 {
  text-decoration: none;
  color: black;
  margin: 0.7rem;
}
#menu2 {
  text-decoration: none;
  color: black;
  margin: 0.7rem;
}

#menu2:hover {
  color: #4000c7;
}
#menu1:hover {
  color: #4000c7;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
