@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

.backdrop {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
}

.signin {
  color: white;
}

.error {
  font-family: "Do Hyeon";
  letter-spacing: 1.2px;
}

.popup {
  width: 100%;
  height: 740px;
  max-width: 400px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: cornflowerblue;
  box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, 0.3);
  z-index: 3;
}

.popuphead {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputText {
  width: 70%;
  border: 0;
  color: white;
  font-size: medium;
  border-bottom: 2px solid white;
  background-color: cornflowerblue;
  margin-bottom: 30px;
  padding-bottom: 7px;
  outline: none;
}

.inputText::placeholder {
  color: white;
}

.btnsignup {
  cursor: pointer;
  outline: 0;
  border: 0;
  color: white;
  width: 70%;
  height: 50px;
  border-radius: 3em;
  background-color: #dd7171;
}

.exit {
  cursor: pointer;

  outline: 0;
  border: 0;
  width: 70%;
  height: 50px;
  background-color: cornflowerblue;
  color: white;
}
